$content-bg: #F5F5F5;

.services{
    padding: 200px 0;
    margin-bottom: 5rem;
    h1{
        letter-spacing: 1rem;
    }
}
//services page end


.service-section{
    margin-bottom: 6rem;
    .section-title{
        margin-bottom: 46px;
    }
    .service-item:nth-of-type(even){
        background-color: $primary;
        .service-item-data{
            .btn:hover{
                background-color: lighten($primary,10%)
            }
        }
    }
    .service-item:nth-of-type(odd){
        background-color: $content-bg;
        .service-item-data{
            .btn:hover{
                background-color: darken($content-bg,10%)
            }
        }
    }
    .service-item{
        .service-item-data{
            padding: 20% 10%;
            h2{
                font-family: $lato;
            }
            .btn{
                border: 1px solid $black;
                border-radius: 0;
                padding: 13px 36px 15px;
                line-height: 1.7rem;
                letter-spacing: 0.5px;
                transition:all 0.3s linear;
            }
        }
        //.service-item-data end 
    }
    //.service-item end



}
//.service section end


@media(min-width:768px){
    .service-section{
        margin-bottom: 8rem;
        .service-item:nth-of-type(odd) .service-item-img{
            order: 1
        }
        .service-item{
            .service-item-data{
                padding: 5% 5% 2%;
            }
            .service-item-img a{
                height: 100%;
            }
        }

    }
}

@media(min-width:992px){
    .services{
        padding: 283px 0;
        margin-bottom: 8.8rem;
        h1{
            letter-spacing: 2rem;
        }
    }
    //services page end
    .service-section{
        .service-item{
            .service-item-data{
                    padding: 9% 7%;     
            }
        }

    }
}
@media(min-width:1200px){
    .service-section{
        margin-bottom: 11rem;
        .service-item{
            .service-item-data{
                padding: 13% 10% 0;
            }
        }
    }
}